@font-face {
  font-family: "arhialkhanMJBold";
  src: url("assets/fonts/ArhialkhanMJBold.woff2");
}

.container {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  /* align-items: center; */
}

.vl {
  /* border-left: 6px solid green; */
  /* height: 500px; */
  border-left: 6px solid transparent;
  height: 80vh;
}

.party {
  flex: 1;
  padding: 3vw;
  justify-self: center;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin: auto;
  /* width: 60%; */
  /* border: 3px solid #73AD21; */
  /* padding: 10px; */
  text-align: center;
}

.partyContent {
  flex: 5;
  padding: 20px;
}

.arrow {
  flex: 1;
  height: 50vh;
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-family: "arhialkhanMJBold";
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

.visible {
  /* visibility: visible; */
  display: block;
}

.homeContainer {
  flex-flow: row wrap;
  background-image: url("assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.childContainer {
  flex-flow: column wrap;
}

.back {
  background-image: url("assets/images/bg.jpg");
  background-position: center;
}


